@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


:root {
    --font-color: #FFFFFF;
    --background-color: #1B1D1F;
    --color-indie: #552B5B;
    --alura-color: #002F52;
    --fonte-principal: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-principal);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1B1D1F;
    width: 100%;
}


.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1240px;
    width: 100%;
}

.cabecalho__container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-between;
    width: 100%;
}

.cabecalho__conteudo {
    display: flex;
    flex-direction: column;
}

.container__largo {
    width: 260px;
    margin-left: 24px;
}

.container__largo-direita {
    width: 260px;
    align-items:flex-end;
    margin-right: 24px;
}

.cabecalho__link {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

.cabecalho__texto__forte {
    font-family: var(--fonte-principal);
    color: var(--font-color);
    font-size: 20px;
    font-weight: 600;
}

.cabecalho__texto__fraco {
    font-family: var(--fonte-principal);
    color: var(--font-color);
    font-size: 20px;
    font-weight: 400;
}

.principal {
    max-width: 1248px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    gap: 64px;
}

.principal__container1 {
    width: 100%;
    max-width: 1248px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.container1__texto__div {
    width: 100%;
    max-width: 1248px;
    display: flex;
    align-items: flex-start;
}

.container1__texto {
    margin: 0 24px;
    width: 100%;
    font-family: var(--fonte-principal);
    color: var(--font-color);
    font-size: 36px;
    font-weight: 600;
}

.container1__infos {
    max-width: 1248px;
    width: 100%;
    gap: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infos__img {
    margin: 0 24px;
}

.infos__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.infos__sobre-mim {
    margin-right: 24px;
    font-family: var(--fonte-principal);
    color: var(--font-color);
    font-size: 20px;
    font-weight: 400;
}

.infos__container__tec {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-right: 24px;
}

.container__tec {
    padding: 8px;
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    background: #FAFAFA;
}

.tec__texto {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    color: #1B1D1F;
}

.principal__container2 {
    display: flex;
    max-width: 1248px;
    width: 100%;
    flex-direction: column;
    gap: 32px;
}

.container2__titulo {
    margin: 0 24px;
    width: 100%;
    font-family: var(--fonte-principal);
    color: var(--font-color);
    font-size: 36px;
    font-weight: 600;
}

.container2__cards {
    display: flex;
    gap: 32px;
    margin: 0 24px;
}

.cards__card-maior {
    width: 68.17%;
}

.maior__card {
    width: 100%;
    transition: opacity 0.3s ease;
}

.maior__card:hover {
    width: 100%;
    content: url('../images/card-maior-hover.png');
}

.maior__card-resp {
    display: none;
}

.cards__container {
    width: 33.17%;;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menor__card1 {
    width: 100%;
    transition: opacity 0.3s ease;
}

.menor__card1:hover {
    width: 100%;
    content: url('../images/card-menor1-hover.png');
}

.menor__card1-resp {
    display: none;
}

.menor__card2 {
    width: 100%;
    transition: opacity 0.3s ease;
}

.menor__card2:hover {
    width: 100%;
    content: url('../images/card-menor2-hover.png');
}

.menor__card2-resp {
    display: none;
}

.rodape {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
}

.principal__container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.container3__frase1 {
    font-family: var(--fonte-principal);
    color: var(--font-color);
    font-size: 20px;
    font-weight: 600;
}

.container3__frase2 {
    font-family: var(--fonte-principal);
    color: var(--font-color);
    font-size: 28px;
    font-weight: 700;
}

.rodape__container {
    border-top: 1px solid #E6E6E6;
    width: 100%;
    display: flex;
    justify-content: center;
}

.rodape__conteudo {
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    width: 100%;
    margin: 24px;
}

.rodape__texto {
    font-family: var(--fonte-principal);
    color: var(--font-color);
    font-size: 14px;
    font-weight: 400;
}

.rodape__frases {
    display: flex;
    gap: 8px;
}

.frases__links {
    font-family: var(--fonte-principal);
    color: var(--font-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

.game__container-indie1 {
    width: 100%;
}

.container-indie1__container {
    display: flex;
    gap: 11.25px;
    align-items: center;
    width: 100%;
    text-decoration: none;
}

.container-indie__frase {
    font-family: var(--fonte-principal);
    color: var(--font-color);
    font-size: 14px;
    font-weight: 600;
}

.container-indie2__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.indie2__titulo {
    font-family: var(--fonte-principal);
    color: var(--font-color);
    font-size: 36px;
    font-weight: 600;
}

.indie2__container1 {
    display: flex;
    gap: 24px;
}

.indie2__container1__container {
    width: 86px;
}

.indie2__container1__frase {
    width: 86px;
    font-family: var(--fonte-principal);
    color: var(--font-color);
    font-size: 14px;
    font-weight: 400;
}

.indie2__container1__texto {
    font-family: var(--fonte-principal);
    color: var(--font-color);
    font-size: 20px;
    font-weight: 400;
}

.indie2__container2 {
    display: flex;
}

.container2__div {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.div1 {
    display: flex;
    gap: 24px;
}

.container__infos {
    width: 86px;
    font-family: var(--fonte-principal);
    color: var(--font-color);
    font-size: 14px;
    font-weight: 400;
}

.container__infos__resp {
    font-family: var(--fonte-principal);
    color: var(--font-color);
    font-size: 20px;
    font-weight: 400;
}

.container__infos__tec {
    display: flex;
    gap: 8px;
}

.container__tec2 {
    padding: 4px 8px;
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    background: #FAFAFA;
    display: flex;
    justify-content: center;
}

.tec__texto2 {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    color: var(--color-indie);
}

.container__infos__link {
    font-family: var(--fonte-principal);
    color: var(--font-color);
    font-size: 20px;
    font-weight: 400;
}

.indie2__container3 {
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin-top: 40px;
}

.indie-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-indie);
}

.poke-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
}

.alura-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--alura-color);
}

@media (max-width: 768px) {
    .container1__infos {
        gap: 16px;
        display: flex;
        flex-direction: column;
    }

    .container1__img__div {
        width: 100%;
    }

    .infos__img {
        width: 142px;
    }

    .infos__sobre-mim {
        margin: 0 16px;
    }

    .infos__container__tec {
        margin: 0 16px;
    }
}


@media (max-width: 658px) {

    .cabecalho__conteudo__central{
        margin-right: 24px;
    }

    .container__largo {
        width: 170px;
        margin-left: 16px;
    }

    .container__largo-direita {
        width: 355px;
        margin-left:16px;
        align-items: flex-start;
    }

    .cabecalho__container {
        margin-top: 16px;
    }

    .container__largo-direito__resp {
        display: flex;
        margin-top: 24px;
        gap: 16px;
    }

    .cabecalho__texto__forte {
        font-size: 14px;
        font-weight: 400;
    }

    .cabecalho__texto__fraco {
        font-size: 14px;
        font-weight: 400;
    }

    .rodape {
        margin-top: 32px;
        gap: 16px;
    }

    .container3__frase1 {
        font-size: 14px;
        font-weight: 400;
    }

    .container3__frase2 {
        font-size: 20px;
        font-weight: 600;
    }

    .principal{
        margin-top: 16px;
        gap: 32px;
    }

    .principal__container1 {
        gap: 16px;
    }
    
    .container1__texto {
        margin: 0 16px;
        font-size: 20px;
        font-weight: 600;
    }

    .container1__infos {
        gap: 16px;
        display: flex;
        flex-direction: column;
    }

    .container1__img__div {
        width: 100%;
    }

    .infos__img {
        width: 42px;
    }

    .infos__sobre-mim {
        margin: 0 16px;
        font-size: 14px;
    }

    .infos__container__tec {
        margin: 0 16px;
    }

    .container2__titulo {
        margin: 0 16px;
        font-size: 20px;
    }

    .container2__cards {
        flex-direction: column;
        margin: 0 16px;
    }

    .cards__card-maior {
        width: 100%;
    }

    .cards__container {
        width: 100%;
        gap: 32px;
    }

    .maior__card {
        display: none;
    }
    
    .maior__card:hover {
        display: none;
    }

    .maior__card-resp {
        width: 100%;
        display: block;
    }

    .menor__card1 {
        display: none;
    }
    
    .menor__card1:hover {
        display: none;
    }

    .menor__card1-resp {
        width: 100%;
        display: block;
    }

    .menor__card2 {
        display: none;
    }
    
    .menor__card2:hover {
        display: none;
    }

    .menor__card2-resp {
        width: 100%;
        display: block;
    }






}

