@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


:root {
    --font-color: #FFFFFF;
    --background-color: #1B1D1F;
    --color-indie: #552B5B;
    --alura-color: #002F52;
    --fonte-principal: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-principal);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1B1D1F;
}


.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.cabecalho__container {
    width: 1248px;
    display: flex;
    justify-content: space-between;
    
}

.cabecalho__conteudo {
    display: flex;
    flex-direction: column;
}

.container__largo {
    width: 525px;
}

.cabecalho__texto__forte {
    font-family: var(--fonte-principal);
    color: var(--font-color);
    font-size: 20px;
    font-weight: 600;
}

.cabecalho__texto__fraco {
    font-family: var(--fonte-principal);
    color: var(--font-color);
    font-size: 20px;
    font-weight: 400;
}

.cabecalho__link {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

.principal {
    width: 1248px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    gap: 64px;
}

.principal__container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.container1__texto {
    width: 100%;
    font-family: var(--fonte-principal);
    color: var(--font-color);
    font-size: 36px;
    font-weight: 600;
}

.container1__infos {
    display: flex;
    gap: 40px;
    align-items: center;
}

.infos__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.infos__sobre-mim {
    font-family: var(--fonte-principal);
    color: var(--font-color);
    font-size: 20px;
    font-weight: 400;
}

.infos__container__tec {
    display: flex;
    gap: 8px;
}

.container__tec {
    padding: 8px;
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    background: #FAFAFA;
}

.tec__texto {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    color: #1B1D1F;
}

.principal__container2 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.container2__titulo {
    font-family: var(--fonte-principal);
    color: var(--font-color);
    font-size: 36px;
    font-weight: 600;
}

.container2__cards {
    display: flex;
    gap: 32px;
}

.cards__container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.maior__card {
    transition: opacity 0.3s ease;
}

.maior__card:hover {
    content: url('../images/card-maior-hover.png');
}

.menor__card1 {
    transition: opacity 0.3s ease;
}

.menor__card1:hover {
    content: url('../images/card-menor1-hover.png');
}

.menor__card2 {
    transition: opacity 0.3s ease;
}

.menor__card2:hover {
    content: url('../images/card-menor2-hover.png');
}

.rodape {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
}

.principal__container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.container3__frase1 {
    font-family: var(--fonte-principal);
    color: var(--font-color);
    font-size: 20px;
    font-weight: 600;
}

.container3__frase2 {
    font-family: var(--fonte-principal);
    color: var(--font-color);
    font-size: 28px;
    font-weight: 700;
}

.rodape__container {
    border-top: 1px solid #E6E6E6;
    width: 100%;
    display: flex;
    justify-content: center;
}

.rodape__conteudo {
    display: flex;
    justify-content: space-between;
    width: 1248px;
    margin: 24px 0;
}

.rodape__texto {
    font-family: var(--fonte-principal);
    color: var(--font-color);
    font-size: 14px;
    font-weight: 400;
}

.rodape__frases {
    display: flex;
    gap: 8px;
}

.frases__links {
    font-family: var(--fonte-principal);
    color: var(--font-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

.game__container-indie1 {
    width: 100%;
}

.container-indie1__container {
    display: flex;
    gap: 11.25px;
    align-items: center;
    width: 100%;
    text-decoration: none;
}

.container-indie__frase {
    font-family: var(--fonte-principal);
    color: var(--font-color);
    font-size: 14px;
    font-weight: 600;
}

.container-indie2__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.indie2__titulo {
    font-family: var(--fonte-principal);
    color: var(--font-color);
    font-size: 36px;
    font-weight: 600;
}

.indie2__container1 {
    display: flex;
    gap: 24px;
}

.indie2__container1__container {
    width: 86px;
}

.indie2__container1__frase {
    width: 86px;
    font-family: var(--fonte-principal);
    color: var(--font-color);
    font-size: 14px;
    font-weight: 400;
}

.indie2__container1__texto {
    font-family: var(--fonte-principal);
    color: var(--font-color);
    font-size: 20px;
    font-weight: 400;
}

.indie2__container2 {
    display: flex;
}

.container2__div {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.div1 {
    display: flex;
    gap: 24px;
}

.container__infos {
    width: 86px;
    font-family: var(--fonte-principal);
    color: var(--font-color);
    font-size: 14px;
    font-weight: 400;
}

.container__infos__resp {
    font-family: var(--fonte-principal);
    color: var(--font-color);
    font-size: 20px;
    font-weight: 400;
}

.container__infos__tec {
    display: flex;
    gap: 8px;
}

.container__tec2 {
    padding: 4px 8px;
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    background: #FAFAFA;
    display: flex;
    justify-content: center;
}

.tec__texto2 {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    color: var(--color-indie);
}

.container__infos__link {
    font-family: var(--fonte-principal);
    color: var(--font-color);
    font-size: 20px;
    font-weight: 400;
}

.indie2__container3 {
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin-top: 40px;
}

.indie-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-indie);
}

.poke-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
}

.alura-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--alura-color);
}
